.outer-seat{
  width: 50px;
	height: 50px;
  border-radius: 5px;
  border: 3px solid #D8D8D8 ;
	background: white;
  position: relative;
  margin: 4px;
}
.inner-seat{
  width: 30px;
	height: 30px;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  margin: -15px 0px 0px -15px;
	background: #D8D8D8 ;
  position: absolute;
}
#sub{
  float:right;
}
#div-inline{float: left; }

.outer-seat:hover{
   border-color: #3366CC;
}

#div-inline:hover .inner-seat{
   background: #3366CC;
}

.clearBoth { clear:both; }

.selected-innerColor { 
  background-color: #3366CC; 
}

.selected-outerColor {
  border-color: #3366CC;
}

.outer-seat-booked{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid #D8D8D8 ;
  background: white;
  position: relative;
  margin: 4px;
}
.inner-seat-booked{
  width: 30px;
  height: 30px;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  margin: -15px 0px 0px -15px;
  background: #FF0000 ;
  position: absolute;
}